<section class="w-full bg-gradient-to-b from-darkPurple to-spaceCadet px-4">
  <div class="prose prose-lg mx-auto text-customGrayText py-8 prose-invert">
    <div
      class="text-customGrayText text-sm lg:text-base xl:text-lg sm:text-base px-12 sm:px-48 flex flex-row items-center gap-8"
    >
      <img
        src="https://res.cloudinary.com/matiasfha/image/fetch/f_auto,q_auto,w_100/r_max/https://matiashernandez.dev/me-optimized.png"
        alt="me"
        class="u-photo"
      />
      <span
        >Escrito y diseñado por <a
          href="https://matiashernandez.dev"
          class="p-note"
        >
          Matias Hernández</a
        ></span
      >
    </div>
    <p>
      Bienvenido al curso Javascript para React, el micro-curso que te ayudará a
      obtener los conocimientos esenciales en Javascript para aplicarlos en el
      desarrollo de aplicaciones web con React. Este curso ha sido diseñado para
      desarrolladores web, ya sean principiantes o con experiencia en el campo,
      que busquen fortalecer sus conocimientos en Javascript y aplicarlos de
      manera eficiente en el desarrollo de aplicaciones web con React.
    </p>
    <p>
      Javascript para React es un micro-curso que ha sido diseñado para ofrecer
      a los desarrolladores web la oportunidad de obtener los conocimientos
      esenciales de Javascript, construyendo una base sólida para enfocarlos en
      el desarrollo de aplicaciones web con React. A lo largo de los emails
      periódicos que recibirás en este curso, aprenderás conceptos esenciales
      que te permitirán crear aplicaciones web de calidad en React, incluyendo
      closures, template literals, destructuring, métodos de arreglos, promesas
      y más.
    </p>
    <p>
      Además, este micro-curso también te proporcionará una base sólida para
      fortalecer y mejorar tus conocimientos en Javascript. Aprenderás de manera
      práctica con una serie de correos electrónicos periódicos, en los que
      podrás aplicar los conceptos que aprendas en la práctica, y consolidar tus
      habilidades para crear aplicaciones web de alta calidad con React. El
      micro-curso consta de una serie de emails, los cuales te guiarán en el
      proceso de aprendizaje en cada una de las lecciones, y que te permitirán
      avanzar de manera efectiva y eficiente en la comprensión y aplicación de
      los conceptos del curso.
    </p>
    <h2>¿Por qué debería tomar este curso?</h2>
    <ul>
      <li>
        Aprenderás los conceptos esenciales de Javascript para aplicarlos de
        manera efectiva en el desarrollo de aplicaciones web con React.
      </li>
      <li>
        Las lecciones del curso están diseñadas de manera práctica, lo que te
        permitirá aplicar lo que aprendas de inmediato en tus proyectos de
        desarrollo web.
      </li>
      <li>
        Podrás aprender a tu propio ritmo, ya que el curso consta de una serie
        de correos electrónicos periódicos que se adaptan al tiempo que tengas
        disponible para invertir en tu formación.
      </li>
      <li>
        Al finalizar el curso, tendrás una base sólida para seguir mejorando tus
        habilidades como desarrollador web y fortalecer tus habilidades de
        programación en Javascript.
      </li>
    </ul>

    <h2>Para ¿quiénes es este curso?</h2>
    <ul>
      <li>
        Desarrolladores web de cualquier nivel de experiencia que quieran
        fortalecer sus habilidades en Javascript y aplicarlas de manera
        eficiente en el desarrollo de aplicaciones web con React.
      </li>
      <li>
        Desarrolladores web que buscan mejorar sus habilidades de programación
        en Javascript para tener éxito en el mercado laboral.
      </li>
      <li>
        Cualquier persona interesada en adquirir los conocimientos esenciales de
        Javascript para aplicarlos en el desarrollo de aplicaciones web con
        React, independientemente de su nivel de experiencia en programación.
      </li>
    </ul>

  </div>
</section>
