---
import { CheckArrowIcon } from "../assets/icons/CheckArrowIcon";
---
  <section
    class="w-full py-12 pt-[2rem]  md:pt-[12vw] lg:pt-0 bg-gradient-to-b from-spaceCadet to-revolver-900"
    id="features"
  >
    <div
    >
      <div class="flex flex-wrap items-center  mx-auto ">
        <div class="w-full lg:w-1/2 mb-12 lg:mb-0">
          <div class="mx-auto lg:mx-auto w-11/12 sm:w-4/5 md:w-3/4 lg:w-unset">
            <h2 class="mt-6 mb-8 text-4xl lg:text-5xl custom-block-big-title">
            Características Prácticas del Curso:


            </h2>
            <p class="mb-10 text-customGrayText leading-loose">
            Descubre las características únicas de nuestro micro-curso Javascript para React en esta sección de Features. Aquí te presentamos algunas de las razones por las que nuestro curso es ideal para todos los interesados en aprender a desarrollar aplicaciones web con React y fortalecer sus habilidades en programación en Javascript.
            </p>
            <ul class="mb-6 text-white">
              <li class="mb-4 flex">
                <CheckArrowIcon />
                <span>Es un curso gratuito, lo que te permite aprender sin preocuparte por ningún costo adicional.</span>
              </li>
              <li class="mb-4 flex">
                <CheckArrowIcon />
                <span>Aprenderás a través de una serie de correos electrónicos directamente en tu correo, lo que significa que podrás acceder al contenido desde cualquier lugar y en cualquier momento.</span>
              </li>
              <li class="mb-4 flex">
                <CheckArrowIcon />
                <span>Cada lección viene con desafíos prácticos que te ayudarán a aplicar lo que hayas aprendido.</span>
              </li>
              <li class="mb-4 flex">
                <CheckArrowIcon />
                <span>Además, el curso también cuenta con demostraciones prácticas para que puedas ver en acción las lecciones en el mundo real.</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="w-3/4 mx-auto lg:w-1/2 flex flex-wrap lg:-mx-4 sm:pr-8 lg:pt-10 justify-center lg:pl-4 xl:px-8">
          <div class="mb-8 lg:mb-0 w-full sm:w-1/2 px-2 lg:px-0">
            <div class="mb-4 py-3 pl-3 pr-2 rounded">
              <img
                src="https://res.cloudinary.com/matiasfha/image/upload/e_shadow:40,f_auto,q_auto,r_30/jpr_f1"
                alt="f1"
                class="rounded-xl  custom-border-gray mx-auto sm:mx-unset"
              />
            </div>
            <div class="py-3 pl-3 pr-2 rounded ">
              <img
                src="https://res.cloudinary.com/matiasfha/image/upload/e_shadow:40,f_auto,q_auto,r_30/jpr_f2"
                alt="f4"
                class="rounded-xl  custom-border-gray"
              />
            </div>
          </div>
          <div class="w-1/2 lg:mt-20  pt-12 lg:pt-0 px-2 hidden sm:inline-block">
            <div class="mb-4 py-3 pl-3 pr-2 rounded-lg ">
              <img
                src="https://res.cloudinary.com/matiasfha/image/upload/e_shadow:40,f_auto,q_auto,r_30/jpr_f3"
                alt="f3"
                class="rounded-xl  custom-border-gray"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
