---
import Form from "./Form.astro";
---

<style>
  #home {
    background-image: url("https://res.cloudinary.com/matiasfha/image/upload/w_1000,ar_16:9,c_fill,g_auto,e_sharpen,f_auto,q_auto/v1680880358/jpr-background");
    background-repeat: no-repeat;
    background-size: contain;
  }
</style>
<section
  class="w-screen flex justify-center items-center bg-revolver-800"
  id="home"
>
  <div
    class="w-full md:w-[800px] xl:w-[900px] flex flex-col justify-center items-center pt-16 md:pt-16 lg:pt-20 text-center"
  >
    <div
      class="text-gray-100 text-sm sm:text-base mb-6 sm:mt-32 mt-16 font-bold"
    >
      ¡Bienvenido al curso!
    </div>
    <div
      class="text-5xl sm:text-6xl lg:text-7xl xl:text-7xl font-bold tracking-wide text-white px-8 sm:px-8 md:px-20 lg:px-4"
    >
      <span
        class="text-transparent bg-gradient-to-r from-yellow-300 to-darkPurple bg-clip-text"
        >Javascript
      </span>
      <span
        class="text-transparent bg-gradient-to-r from-yellow-600 to-yellow-200 bg-clip-text"
        >Para React</span
      >
    </div>
    <div
      class="text-gray-100 prose prose-lg mt-10 p-4 bg-spaceCadet/80 rounded-xl"
    >
      <p>Mejora tus habilidades en desarrollo web con Javascript para React, el micro-curso que te ayudará a obtener los conocimientos esenciales en Javascript para aplicarlos en el desarrollo de aplicaciones web con React. Aprende de manera práctica a través de una serie de emails periódicos que te guiarán en el proceso. ¡Inscríbete hoy mismo y mejora tus habilidades en desarrollo de aplicaciones web con React!</p>

    </div>
    <Form />
  </div>
</section>
