---
import "@fontsource/inter";
import "@fontsource/inter/500.css";
import "@fontsource/inter/600.css";
import "@fontsource/inter/700.css";
import "@fontsource/inter/800.css";
import "@fontsource/inter/900.css";

export interface Props {
  title: string;
}

const { title } = Astro.props;
const image =
  "https://res.cloudinary.com/matiasfha/image/upload/v1682805379/Screenshot_2023-04-29_at_17.56.08_tskx3o.png";
---

<!DOCTYPE html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content="Javascript para React es un micro curso que te ayudará a enfocarte en lo esencial del lenguaje de programación para una mejor comprensión y eficacia en el desarrollo de aplicaciones web con React. Aprende sobre closures, template literals, destructuring, métodos de arreglos, promesas y más en este breve pero completo curso a través de una serie de emails periódicos. Descubre cómo fortalecer tus conocimientos de Javascript para aprovechar al máximo React. ¡Suscríbete ahora!">
    <meta name="twitter:description" content="Javascript para React es un micro curso que te ayudará a enfocarte en lo esencial del lenguaje de programación para una mejor comprensión y eficacia en el desarrollo de aplicaciones web con React. Aprende sobre closures, template literals, destructuring, métodos de arreglos, promesas y más en este breve pero completo curso a través de una serie de emails periódicos. Descubre cómo fortalecer tus conocimientos de Javascript para aprovechar al máximo React. ¡Suscríbete ahora!">
    <meta name="og:description" content="Javascript para React es un micro curso que te ayudará a enfocarte en lo esencial del lenguaje de programación para una mejor comprensión y eficacia en el desarrollo de aplicaciones web con React. Aprende sobre closures, template literals, destructuring, métodos de arreglos, promesas y más en este breve pero completo curso a través de una serie de emails periódicos. Descubre cómo fortalecer tus conocimientos de Javascript para aprovechar al máximo React. ¡Suscríbete ahora!">

    <meta
      name="keywords"
      content="Javascript, React, curso para Javascript, Aprende Javascript, Antes de React, Que necesito para React, ES6, nullish coalescing, arrow functions"
    />

    <meta name="twitter:creator" content="https://twitter.com/matiasfha/" />
    <meta property="og:type" content="website" />
    <meta name="robots" content="index, follow, dofollow" />
    <meta name="googlebot" content="index,follow, dofollow" />
    <meta name="twitter:site" content="https://javascriptparareact.com" />
    <meta property="og:site_name" content="https://javascriptparareact.com" />
    <link rel="canonical" href="https://javascriptparareact.com" />
    <meta property="og:url" content="https://javascriptparareact.com" />
    <meta property="og:title" content="Curso: Javascript para React" />
    <meta
      property="og:image"
      content="https://res.cloudinary.com/matiasfha/image/upload/v1682953427/Screenshot_2023-05-01_at_11.03.06_j6xfjb.png"
    />
    <meta property="og:image:alt" content="Curso: Javascript para React" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Curso: Javascript para React" />
    <meta
      name="twitter:image"
      content="https://res.cloudinary.com/matiasfha/image/upload/v1682953427/Screenshot_2023-05-01_at_11.03.06_j6xfjb.png"
    />
    <link href="https://twitter.com/matiasfha" rel="me" />
    <title>{title}</title>
  </head>
  <body class="bg-spaceCadet">
    <slot />
    <style is:global>
      html {
        font-family: Inter;
        overflow-x: hidden;
        scroll-behavior: smooth;
      }
    </style>
    <script
      defer
      data-domain="javascriptparareact.com"
      data-api="/plausible/api/event"
      src="/plausible/js/script.js"
    ></script>
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="matiasfha" data-description="Support me on Buy me a coffee!" data-message="¿Te gustaría apoyar mi contenido gratuito? Puedes invitarme un café" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
  </body>
</html>
